version: '3'
services:
  # 1. Le Simulateur d'Automate (La Cible)
  plc:
    image: oitc/modbus-server:latest
    container_name: factory-plc
    ports:
      - "5020:502" # Port exposé en 5020 sur l'hôte, 502 en interne
    networks:
      - factory-net

  # 2. La Machine de l'Attaquant (L'Étudiant)
  attacker:
    image: kalilinux/kali-rolling
    container_name: attacker-box
    tty: true
    command: /bin/bash
    networks:
      - factory-net
    # Outils préinstallés : nmap, python3, pip, metsploit...
    # (Note: Les étudiants devront peut-être faire un 'apt update && apt install nmap python3-pip' rapide au premier lancement selon l'image)

  # 3. L'Interface Homme-Machine (Le Témoin)
  hmi:
    image: nodered/node-red
    container_name: factory-hmi
    ports:
      - "1880:1880"
    networks:
      - factory-net

networks:
  factory-net:
    driver: bridge
